**Modules and packages**

In [ ]:
#import the library
import math

In [ ]:
 #ceil(rounding)
math.ceil(2.4)

**Exploring built-in modules**

In [ ]:
print(dir(math))

In [ ]:
help(math.comb)

In [ ]:
#example,wont work
import foo.bar

In [ ]:
#Or could do it this way
from foo import bar

In [ ]:
__init__.py:
__all__=["bar"]

**Errors and Exception Handling**

In [ ]:
try:
    f=open('testfile','w')
    f.write('Test write this')
except IOError:
#this will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

In [ ]:
try:
    f=open('testfile','r')
    f.write('Test write this')
except IOError:
#this will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

In [ ]:
try:
    f=open("testfile","w")
    f.write("Test write statement")
finally:
    print("Always execute finally code blocks")

In [ ]:
def askint():
        try:
            val=int(input("please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
        finally:
            print("Finally, I executed!")
            print(val)

In [ ]:
 askint()

**Database connectivity and opertions using python**

In [6]:
import sqlite3

# Connecting to the database (with a timeout to avoid locking issues)
db = sqlite3.connect("my_database1.db", timeout=10)

# Drop the table if it exists
db.execute("DROP TABLE IF EXISTS grades1")

# Create the table
db.execute("CREATE TABLE grades1(id INT, name TEXT, score INT)")

# Insert values into the table
db.execute("INSERT INTO grades1(id, name, score) VALUES(101, 'John', 99)")
db.execute("INSERT INTO grades1(id, name, score) VALUES(102, 'Gary', 90)")
db.execute("INSERT INTO grades1(id, name, score) VALUES(103, 'James', 89)")
db.execute("INSERT INTO grades1(id, name, score) VALUES(104, 'Cathy', 85)")
db.execute("INSERT INTO grades1(id, name, score) VALUES(105, 'Kris', 95)")

# Commit the changes to the database
db.commit()

In [8]:
results=db.execute("select* from grades1 order by id")
for row in results:
    print(row)
print("-" * 60)

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 89)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [9]:
results=db.execute("select* from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60)

(102, 'Gary', 90)
------------------------------------------------------------

In [10]:
results=db.execute("select* from grades1 where score >=90 ")
for row in results:
    print(row)
print("-" * 60)

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [19]:
results=db.execute("select name, score from grades1 order by score desc")
for row in results:
    print(row)
print("-" * 60)

('John', 99)
('Kris', 95)
('Gary', 90)
('James', 89)
('Cathy', 85)
------------------------------------------------------------

In [16]:
results=db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60)

('Cathy', 85)
('James', 89)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [18]:
results=db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('Cathy', 85)
('James', 89)
('Gary', 90)
('Kris', 95)
('John', 99)